
  .banner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    top: -104px;
    z-index: -1;
  }
  .banner::before {
    content: '';
    position: absolute;
    inset: 0;
    /* background-image: url('/images/valentin-petrov-m-mal-01.jpg'); */
    background-size: cover;
    background-position: center;
    animation: bgZoomIn 4s ease-in-out 1 forwards;
    z-index: -1;
    pointer-events: none;
    /* filter: brightness(60%); */
  }
  .banner::after {
    content: '';
    position: absolute;
    inset: 0;
    /* background-image: url('/images/after.png'); */
    background-size: cover;
    background-position: top;
    transform: scale(2);
    animation: bgZoomOut 3s ease-in-out 1 forwards;
    z-index: -1;
    pointer-events: none;
  }
  @keyframes bgZoomIn {
    from {
      transform: scale(1.2);
    } to {
      transform: scale(1);
    }
  }
  @keyframes bgZoomOut {
    from {
      transform: scale(1);
    } to {
      transform: scale(2);
    }
  }
  
  .hero path {
    fill: transparent;
    stroke: #71C9CE;
    stroke-width: 0.5;
    stroke-dasharray: 220;
    stroke-dashoffset: 220;
    animation: textAnimation 3s ease-in-out 1 forwards;
  }
  @keyframes textAnimation {
    0% {
      stroke-dashoffset: 220;
    }
    80% {
      fill: transparent;
    }
    100% {
      fill: #71C9CE;
      stroke-dashoffset: 0;
    }
  }

  .hero-text{
    letter-spacing: 0.075rem;
    animation: fadeIn forwards 1s 2.5s;
    opacity: 0;
  }

  @keyframes fadeIn {
    from{
        opacity: 0;
        top: 0rem;
    }to{
        opacity: 100%;
        top: -7rem;
    }
  }